*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 22.5px;
  background-color: #098ff6;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
  overflow: hidden;
}
span{
  color: #000000;
}
input{
  border-radius: 2px;
  background-color: #555353;
  color: whitesmoke;
  border: 2px solid #000;
  padding: 4px;
  text-align: center;
  font-size: 18px;
}
.start-btn, .reset-btn, .check-btn{
  background-color: #555353;
  margin: 20px auto;
  padding: 8px 25px;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.main-div{
  visibility: hidden;
}
.guess-btn{
  padding: 5px;
  font-size: 20px;
}
.wrong{
  background-color: #fe4c4c;
  padding: 10px;
  margin-top: 25px;
}
.success{
  background-color: #7efe4c;
  margin-top: 25px;
  padding: 10px;
  
}